# ======
# KEEP
# ======
!.gitignore
!.readthedocs.yaml
!src/
!docs/
!requirements/
!ros2_ws
!c_extensions


# ======
# IGNORE
# ======

__pycache__/
*.py[cod]
*$py.class

*.env
*.venv
*.egg-info/
*.vscode/

docs/_build/
docs/_static/
docs/_templates/

ros2_ws/build/
ros2_ws/install/
ros2_ws/log/