*

!.gitignore
!.readthedocs.yaml

!src/
!src/**

!docs/
!docs/**

!requirements/
!requirements/**

# editor configs
src/.vscode/

# python junk
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd