# ======
# KEEP
# ======
!.gitignore
!.readthedocs.yaml
!src/
!docs/
!requirements/


# ======
# IGNORE
# ======

__pycache__/
*.py[cod]
*$py.class

*.env
*.venv
*.egg-info/
src/.vscode/

docs/_build/
docs/_static/
docs/_templates/